In [61]:
import yfinance as yf
import pandas as pd
import openpyxl

# Reusable functions

In [62]:
def calculate_return(df):
    if df.empty:
        return None
    # Get the closing price at the start of the year
    start_price = df['Close'].iloc[0]
    
    # Get the closing price at the end of the year
    end_price = df['Close'].iloc[-1]
    
    # Calculate the one-year return
    return (end_price - start_price) / start_price

In [63]:
largest_market_cap = pd.read_excel('./Top Companies by Market Cap.xlsx', sheet_name='Sheet1')
largest_market_cap

,Symbol,Company Name,Industry,Market Cap
0,AAPL,Apple Inc.,Consumer Electronics,"2,811.03B"
1,MSFT,Microsoft Corporation,Software - Infrastructure,"2,469.80B"
2,GOOGL,Alphabet Inc.,Internet Content & Information,"1,779.01B"
3,GOOG,Alphabet Inc.,Internet Content & Information,"1,778.79B"
4,AMZN,"Amazon.com, Inc.",Internet Retail,"1,360.20B"
...,...,...,...,...
495,RBLX,Roblox Corporation,Electronic Gaming & Multimedia,19.59B
496,WBA,"Walgreens Boots Alliance, Inc.",Pharmaceutical Retailers,19.51B
497,TW,Tradeweb Markets Inc.,Capital Markets,19.51B
498,ZM,"Zoom Video Communications, Inc.",Software - Application,19.51B
499,ULTA,"Ulta Beauty, Inc.",Specialty Retail,19.49B

In [64]:
largest_market_cap = largest_market_cap[~largest_market_cap['Symbol'].str.contains('\.')].reset_index(drop=True)
top_300 = largest_market_cap.head(100)
top_300_symbols = top_300['Symbol']

In [65]:
# ticker = yf.Ticker('AAPL')
# stock_info = ticker.info
# print(stock_info.get('beta'))

In [66]:
one_year_data = {}
three_year_data = {}
five_year_data = {} 
for symbol in top_300_symbols:
    ticker = yf.Ticker(symbol)
    one_year_data[symbol] = ticker.history(period="1y")
    three_year_data[symbol] = ticker.history(period="3y")
    five_year_data[symbol] = ticker.history(period="5y")

In [67]:
one_year_return_data = {}
three_year_return_data = {}
five_year_return_data = {}
for key, df in one_year_data.items():
    one_year_return_data[key] = calculate_return(one_year_data[key])
    three_year_return_data[key] = calculate_return(three_year_data[key])
    five_year_return_data[key] = calculate_return(five_year_data[key])

In [68]:
filtered_data_one_year = {key: value for key, value in one_year_return_data.items() if value is not None and value >= 0.15 and value <= 0.8}
filtered_data_three_year = {key: value for key, value in three_year_return_data.items() if value is not None and value >= 0.10}
filtered_data_five_year = {key: value for key, value in five_year_return_data.items() if value is not None and value >= 0.10}

print(filtered_data_one_year.values())
print(filtered_data_three_year.values())
print(filtered_data_five_year.values())
overlapping_keys = set(filtered_data_one_year.keys()) & set(filtered_data_three_year.keys()) & set(filtered_data_five_year .keys())

dict_values([0.3001229342405525, 0.447742977442413, 0.42253525355569616, 0.4260135974055348, 0.21412527065972564, 0.22503531093159448, 0.31191968959202226, 0.44408532092722114, 0.24416840915969312, 0.37073155358596205, 0.3871576335724418, 0.18707175944906795, 0.7088244851141176, 0.15919878141608512, 0.2561649537803035, 0.324882498450057, 0.5983983327461118, 0.15064366619694308, 0.3855724224424731, 0.3785622191440767, 0.2507871208190861, 0.3426759063170163, 0.43854587668297834, 0.213300844077826, 0.7289288498376517, 0.3919855750693312, 0.5007318409553644, 0.5464347507642663, 0.6281536400248436, 0.3945395517853608, 0.5474634570349849, 0.43513807731660054, 0.41258623966357333, 0.16838748430543027, 0.1555847347509657, 0.2045448678116866, 0.5367854269777068, 0.42952280577328844, 0.2791187805923465, 0.21143150165271393, 0.2815058222899161, 0.3887346011135765, 0.6083215046765759, 0.3772141576884442, 0.16231465792444863, 0.7659968604248233, 0.19407966991261863, 0.3257044539246005])
dict_values([0.5024571877251429, 0.5246270901754142, 0.7571509716810981, 0.7675119001293136, 2.2332108272168902, 0.15771464190291723, 0.6331237920814127, 3.278241439451967, 0.20030339062332633, 0.7475040684327191, 2.13195767034854, 0.16319154946969863, 0.6081663370388108, 2.726325871455703, 0.14690655107585368, 0.1811518276245047, 1.534222861196507, 1.5590872068917423, 0.8622700159116393, 0.9473232834063543, 0.48965948218353883, 0.5715158379118624, 0.35087048068724297, 0.5519309855878306, 0.15595953640213076, 0.21981340592354762, 1.905102117849378, 0.4748994732712275, 0.21631397907221162, 0.359691234953108, 0.2576472321420026, 0.3714434957012588, 0.9333175921630678, 0.6817152797781706, 0.16663888655296966, 0.24795151977703794, 0.21427959537462637, 1.3662595894468907, 1.3783593623457913, 0.5730634557538861, 0.31403531938129575, 0.2835711804203126, 0.3419785816696399, 0.8767831542502931, 0.37055424543939225, 3.0999080219099002, 0.7478521277258623, 0.1933366146925195, 0.6828387301645985, 1.1191274541879337, 0.3348678087188388, 0.12143113168191999, 1.5958657439596733, 0.274593506328904, 1.264915019937298, 0.1327493104614774, 0.18641553238810402, 0.654624494357236, 0.49922922658921487, 1.788722648302216, 0.22574345074930058, 0.7026896685297079, 0.4592069527225128, 0.609014901061476, 0.31451504531341506, 0.1443354029726851, 0.1332488997734692, 0.5734449679613989, 0.7686665813964063])
dict_values([2.4365648290170965, 2.2148156142098046, 1.4919269348677935, 1.5375143743103596, 0.47409060321325774, 6.793133285657262, 1.0498305998149107, 13.51057428983059, 4.988452238814925, 0.7913939388641948, 1.232950736789125, 1.6429157823900467, 4.663077670496353, 0.8544444506409042, 0.6196924157991737, 0.7573804088844545, 0.33848022473367306, 1.042869627385876, 3.5105639233183425, 1.0544643860165877, 0.7468655413737003, 1.4934483588825254, 0.7259009227228416, 1.0955443214965106, 0.8283828263328561, 1.69823794337775, 1.3056175052760817, 0.5366254163819857, 2.639101277932761, 0.37657637192275056, 0.7454484924021898, 0.2859929249960466, 0.40082814479862855, 1.051737742573705, 0.5788219237202075, 0.4412821467864366, 1.0687266714705093, 0.22394432497101543, 1.1422834002045335, 1.614878030290072, 0.7034653847269079, 0.40132996975943785, 3.0019038622211545, 1.095090097820297, 0.4384418686185478, 1.371181784619042, 0.1976913788073871, 0.4783265314711708, 0.243796916583898, 1.6422014324053247, 0.6909528990574726, 0.40152155916737525, 0.3366101793213967, 4.026053785242127, 0.6712992301864418, 0.4637731753134456, 1.0297200480441016, 0.7638298057908333, 1.136885553324797, 0.518139342829427, 0.566778597155685, 1.0773297220119196, 2.63014297419055, 0.3115094698773623, 0.522716940211197, 0.3431365795235164, 0.9323832661008432, 0.5298895885504264, 0.3363656894001174, 3.4855354258030338, 0.1514301568507941, 1.0657333119446404, 1.0453383500063733, 2.038306130219014, 1.760068157168634, 0.581414965782154, 0.18695046970432563, 0.5217513626386724, 0.6286817695825329, 0.2766037244717505, 0.43552669093543217, 0.802847828835374, 0.5137778049045139, 0.7806969278308229, 0.972837874195603, 0.6118218118181858, 0.9584477510733624])

In [69]:
len(overlapping_keys)

34

In [70]:
betas = {}
for key in overlapping_keys:
    betas[key] = yf.Ticker(key).info.get('beta')
filtered_beta = {key: value for key, value in betas.items() if value is not None and value > 0.70 and value <= 1.50}
print(len(filtered_beta))

19

In [71]:
df_filtered_beta_keys = pd.DataFrame(list(filtered_beta.keys()), columns=['Symbol'])
df_filtered_beta_keys

   Symbol
0    ASML
1    GOOG
2     ACN
3    AAPL
4    SONY
5    INTU
6       V
7      MA
8      BX
9     TTE
10  GOOGL
11   BKNG
12    IBM
13   MSFT
14   COST
15    LIN
16    BHP
17   ORCL
18   CSCO

In [72]:
merged_df = pd.merge(df_filtered_beta_keys, largest_market_cap, on='Symbol', how='left')
merged_df

,Symbol,Company Name,Industry,Market Cap
0,ASML,ASML Holding N.V.,Semiconductor Equipment & Materials,238.48B
1,GOOG,Alphabet Inc.,Internet Content & Information,"1,778.79B"
2,ACN,Accenture plc,Information Technology Services,196.59B
3,AAPL,Apple Inc.,Consumer Electronics,"2,811.03B"
4,SONY,Sony Group Corporation,Consumer Electronics,105.39B
5,INTU,Intuit Inc.,Software - Application,151.78B
6,V,Visa Inc.,Credit Services,490.17B
7,MA,Mastercard Incorporated,Credit Services,373.76B
8,BX,Blackstone Inc.,Asset Management,130.52B
9,TTE,TotalEnergies SE,Oil & Gas Integrated,156.18B
10,GOOGL,Alphabet Inc.,Internet Content & Information,"1,779.01B"
11,BKNG,Booking Holdings Inc.,Travel Services,109.64B
12,IBM,International Business Machines Corporation,Information Technology Services,130.48B
13,MSFT,Microsoft Corporation,Software - Infrastructure,"2,469.80B"
14,COST,Costco Wholesale Corporation,Discount Stores,250.41B
15,LIN,Linde plc,Specialty Chemicals,184.77B
16,BHP,BHP Group Limited,Other Industrial Metals & Mining,145.42B
17,ORCL,Oracle Corporation,Software - Infrastructure,300.35B
18,CSCO,"Cisco Systems, Inc.",Communication Equipment,217.58B

### Semiconductor Equipment & Materials: ASML Holding N.V. (ASML)
### Internet Content & Information: Alphabet Inc. (GOOG or GOOGL)
### Information Technology Services: Accenture plc (ACN)
### Consumer Electronics: Apple Inc. (AAPL)
### Software - Application: Intuit Inc. (INTU)
### Credit Services: Visa Inc. (V)
### Asset Management: Blackstone Inc. (BX)
### Oil & Gas Integrated: TotalEnergies SE (TTE)
### Travel Services: Booking Holdings Inc. (BKNG)
### Software - Infrastructure: Microsoft Corporation (MSFT)